<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Styleguide</title>
  <link rel="stylesheet" href="static/prism/prism.css">
  <link rel="stylesheet" href="static/stardoc.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <h1>Styleguide</h1>

  {% for module in styleObjects['module'] %}
    <h2>{{ module.params.title }}</h2>
    {{ module.description }}
    {{ module.markup }}

    <h3>Markup</h3>
    <pre><code class="language-markup">{{ module.markup | escape }}</code></pre>

    {% for child in module.children %}
      <h2>{{ child.params.title }}</h2>
      {{ child.description }}
      {{ child.markup }}

      <h3>Markup</h3>
      <pre><code class="language-markup">{{ child.markup | escape }}</code></pre>
    {% endfor %}
  {% endfor %}

  <script src="static/prism/prism.js"></script>
</body>